<form action="">
  <md-card>
    <md-card-header>
      <md-card-title> 注册：</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container md-no-float class="full-width">
        <input mdInput placeholder="请输入用户名" type="text">
      </md-input-container>
      <md-input-container md-no-float class="full-width">
        <input mdInput placeholder="请输入姓名" type="text">
      </md-input-container>

         <md-input-container md-no-float class="full-width">
        <input mdInput placeholder="请输入密码" type="password">
      </md-input-container>
         <md-input-container md-no-float class="full-width">
        <input mdInput placeholder="请再次输入密码" type="password">
      </md-input-container>
      <md-grid-list cols="8" rowHeight="1:1">
        <md-grid-tile></md-grid-tile>
      </md-grid-list>
        <button type="button" md-button>注册</button>
    </md-card-content>
 
  </md-card>
</form>
